.main_block {
  background: url(https://wallpapercave.com/wp/wp3006486.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.slider {
  background-repeat: no-repeat;
  background-size: cover;
}
